@import "../misc/bootstrap";

.desktopMenu {
}

.desktopMenu-ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.desktopMenu-li {
	list-style: none;

	a {
		font-size: rem(18px);
		color: white;
		text-decoration: none;

		&:hover {
			color: #ff0e00;
			transition: all .2s;
		}
	}
}

.desktopMenu-li + .desktopMenu-li {
	padding-left: 55px;
}


